@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Joan', serif;
}
a{
    text-decoration: none;
    color: #adadad;
}
.btn{
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #cd8c38;
    border-radius: 2rem;
    color: #1e1f26;
    transition: .3s;
}
.btn:hover{
    background-color: #92601f;
}
body{
    background-color: #1e1f26;
    display: grid;
    grid-template-columns: 1000px;
    justify-content: space-evenly;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}
.left-content,.right-content{
    display: flex;
    align-items: center;
}
.title{
    margin-right: 3rem;
    color: #0beff7;
}
.navigation{
    display: flex;
    list-style: none;
}
.navigation li{
    margin-right: 1rem;
}
.navigation li a:hover{
    color: #cd8c38;
}
.active{
    color: #cd8c38;
}
filter,.cart,.help,.menu{
    position: relative;
    width: 20px;
    height: 20px;
}
.filter,.cart,.help{
    margin-right: 1rem;
}
.menu{
    margin-left: 8rem;
}
.profile-image-box{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}
img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.filter,.cart,.help,.menu{
    position: relative;
    width: 20px;
    height: 20px;
}
.main-container{
    color:#adadad;
}
/*Movies container*/
.upcoming-img-box{
    position: relative;
    height: 500px;
    width: 1000px;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
}
.upcoming-title{
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: #cd8c38;
    background-color: #1e1f26;
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 1px solid #cd8c38;
    font-weight: 500;
}
.buttons{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}
.btn-alt{
    background-color: #1e1f26;
    color: #cd8c38;
    border: 1px solid #cd8c38;
    margin-left: 1rem;
}
.btn-alt:hover{
    color: #1e1f26;
    background-color: #cd8c38;

}
/*current movies*/
.movies-container{
    padding-bottom: 2rem;
}
.current-movies{
height: 300px;
width: 100%;
margin-bottom:400px ;

}
.current-movie{
margin-bottom: 100px;
height: 300px;
width:100% ;
}
.slider {
    width: 1000px;
    height: 500px;
    background-color: #1e1f26;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }
.cm-img-box{
    position: relative;
    height: 150px;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: .5rem;
    overflow: hidden;
}
.movie-title{
    color: #fff;
    margin-bottom: .2rem;
}
.booking{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.price{
    color: #cd8c38;

}
.button {
    position: relative;
    top: -20px;
  }
  .button a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: lightgreen;
  }
#slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }